.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,250px);
    gap: 20px;
    /* border: 1px solid black; */
    margin: 100px;
}
.box{
    background-color: peachpuff;
    border-radius: 38px;
padding: 99px;
font-size: 300%;
color: black;
}
.box1{
    grid-column-start: 1;
    grid-column-end: 3;
}
.box2{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end:4 ;
}
.parent{
    border: 1px solid black;
}